<div class="example-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)" class="example-container">

    <mat-form-field hintLabel="Max 30 characters">
      <input formControlName="name" matInput #input maxlength="30" placeholder="Product name">
      <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 30 characters">
      <input formControlName="brand" matInput #input maxlength="30" placeholder="Insurance company">
      <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 30 characters">
      <input formControlName="kind" matInput #input maxlength="30" placeholder="Policy kind">
      <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 4 characters">
      <input formControlName="price" matInput #input maxlength="10" placeholder="Price">
      <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>

    <button type="submit" mat-button>Apply filters</button>
  </form>
  <button type="button" mat-button (click)="resetFiltesr()">Reset filters</button>
</div>